##############################
## Folders                  ##
##############################
/target/
/.settings/
.classpath
/.project
.gitignore
##############################
## Netbeans conf            ##
##############################